.footer{
    background-color: black;
    width: 100%;
    min-height: 209px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 67px 0px 67px 0px;
    margin-top: 30px;

    img{
        filter: brightness(10);
        width: 122px;
        height: 39.44px;
        margin-bottom: 45.56px;
        color: white;
    }

   p {
    font: {
        family: 'Montserrat', sans-serif, arial;
       /* size: map-get($font-size, size1);*/
        /*weight: map-get($montserrat, medium);*/
    };
    
    line-height: 17.22px;
    text-align: right;
    color: white;

   @media screen and (min-width: map-get($breakpoint, laptop)) {
        font-size: 24px;
        line-height: 34.22px;
    }
       /* @include typographie-footer-component;*/
    }
}
/* Annuler le padding pour le footer */
