
.Thumb{
    display: flex;
    gap: 20px 0px;
    flex-direction: column;
    align-content: center;
    align-items: center;
   
    @media screen and (min-width: map-get($breakpoint, mobile-L)) {
        max-width: 1240px;
        gap: 30px 0px;
        background: #f7f7f7;
        border-radius: 15px;  
        padding: 30px 20px 30px 20px;
    }

    @media screen and (min-width: map-get($breakpoint, tablette)) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1240px;
        gap: 10px 0px;
        background: #f7f7f7;
        border-radius: 15px;  
        padding: 40px 30px 40px 30px;
    }

    @media screen and (min-width: map-get($breakpoint, laptop)) {
        gap: 20px 0px;
        max-width: 1440px;
        padding: 50px 40px 50px 40px;
    }

    @media screen and (min-width: map-get($breakpoint, laptop-L)) {
        gap: 50px;
        max-width: 1600px;
        padding: 56px 50px 56px 50px;
    }
}