.logo {

  img {
    width: 145px;
    height: 47px;

    @media screen and (max-width: map-get($breakpoint, mobile-S)){
        display: none;
    }

    @media screen and (min-width: map-get($breakpoint, laptop)){
        width: 197px;
        height: 63.69px;
    }

    @media screen and (min-width: map-get($breakpoint, laptop-L)){
        width: 210.32px;
        height: 68px;
    }
   
  }
  
}
