
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  a{
    text-decoration: none;
    li {
      transition: 0.2s;
      cursor: pointer;
    
      &:hover {
        color: $black-color;
        text-decoration: underline;
          }
       }
    }
  
  @media screen and (min-width: map-get($breakpoint, laptop)){
     margin-top: 40px;
    }
    &__nav{
      display: flex;
      align-items: center;

      &--list{
          display: flex;
          flex-direction: row;
          margin-top: 5px;

          :nth-child(2) {
              margin-left: 15px;
              
              @media screen and (min-width: map-get($breakpoint, laptop)){
                  margin-left: 30px;
              }

              @media screen and (min-width: map-get($breakpoint, laptop-L)){
                  margin-left: 57px;
              }
          }


      }
     &--about,
      &--home{
         
          @include typographie-header-component;
      }
      &--about,
      &--home{
          color: $black-color;
      }

     &--about--underline,
      &--home--underline{
          @include typographie-header-component;
         /* @include underline-animation;*/
          
      
      }
  }
    
  /*ul {
    
    display: flex;
    margin: 10px;
    margin-left: 75%; 
    align-items: flex-end;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3;
    text-align: right;
    text-decoration-line: none;


    a {
      text-decoration: none;
      padding: 10px;

      li {
        color: $color-1;
        transition: 0.2s;
        cursor: pointer;
       

        &:hover {
          color: $color-1;
          text-decoration: underline;
        }
      }
    }*/
    

   /* .nav-active {
      position: relative;*/

      /*&::after {
        content: "";
        height: 4px;
        width: 0;
        background: $color-1;
        position: absolute;
        border-radius: 10px;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-animation: anim 0.3s ease forwards;
        animation: anim 0.6s ease forwards;

        @-webkit-keyframes anim {
          to {
            width: 100%;
          }
        }
        @keyframes anim {
          to {
            width: 100%;
          }
        }
      }
    }
  }*/
}
