
.navigation {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  a{
    text-decoration: none;
    li {
      transition: 0.2s;
      cursor: pointer;
    
      &:hover {
        color: $black-color;
        text-decoration: underline;
          }
       }
    }
  
  @media screen and (min-width: map-get($breakpoint, laptop)){
     margin-top: 40px;
    }

    &__img {
      width: 145px;
      height: 47px;
  
      @media screen and (max-width: map-get($breakpoint, mobile-S)){
         width: 145px;
          height: 47px;
      }
  
      @media screen and (min-width: map-get($breakpoint, laptop)){
          width: 197px;
          height: 63.69px;
      }
  
      @media screen and (min-width: map-get($breakpoint, laptop-L)){
          width: 210.32px;
          height: 68px;
      }
     
    }
    
    &__nav{
      display: flex;
      align-items: center;

      &--list{
          display: flex;
          flex-direction: row;
          margin-top: 5px;

          :nth-child(2) {
              margin-left: 15px;
              
              @media screen and (min-width: map-get($breakpoint, laptop)){
                  margin-left: 30px;
              }

              @media screen and (min-width: map-get($breakpoint, laptop-L)){
                  margin-left: 57px;
              }
          }


      }
     &--about,
      &--home{
         
          @include typographie-header-component;
      }
      &--about,
      &--home{
          color: $black-color;
      }

     &--about--underline,
      &--home--underline{
          @include typographie-header-component;
         /* @include underline-animation;*/
          
      
      }
  }
    
 
}
